.input-text {
  width: 100%; /*親要素いっぱい広げる*/
  padding: 10px 15px; /*ボックスを大きくする*/
  font-size: 16px;
  border-radius: 3px; /*ボックス角の丸み*/
  border: 2px solid #ddd; /*枠線*/
  box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}

.input-select {
  width: 100%; /*親要素いっぱい広げる*/
  padding: 10px 15px; /*ボックスを大きくする*/
  font-size: 16px;
  border-radius: 3px; /*ボックス角の丸み*/
  border: 2px solid #ddd; /*枠線*/
  box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}

.button-raised {
  display: inline-block;
  background-color: #FF0033;/*背景色*/
  color: #FFF;/*文字色*/
  font-size: 1em;/*文字サイズ*/
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.05em;/*字間*/
  padding: 0.2em 1em;/*ボタン内の余白*/
  border-radius: 3px;/*角の丸み*/
    cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);/*影*/
  -webkit-tap-highlight-color: transparent;
  transition: .3s ease-out;/*変化を緩やかに*/
}

.titlebar {
  background-color: #ffb6c1;
}

.titlebar-text {
  font-weight: bold;
}

.titlebar-text-center {
  font-weight: bold;
  text-align: center;
}

.title-area {
  display: grid;
}
.upload-area {
  display: grid;
}
.agent-area {
}
.simulation-logo {
}
.simulation-title {
  margin-top: 20px;
}
.simulation-title-h4 {
  font-weight: bold;
}
.simulation-text-h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.simulation-step {
  font-weight: bold;
}
.simulation-step-red {
  font-weight: normal;
  color: red;
}

.text-red {
  color: #e4012e;
}

/* ローダー */
#loader-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,.5);
    z-index: 2;
}
#loader {
    display: none;
    position: fixed;
    top: 100px;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
    color: #fff;
    z-index: 3;
}

/* ポップアップ */
#popup-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,.5);
    z-index: 2;
}
#popup-content {
    display: none;
    position: fixed;
    width: 90%;
    top: 200px;
    left: 35%;
    height: 250px;
    text-align: center;
    background-color: #fff;
    z-index: 3;
}
#popup-msg {
    text-align: left;
    color: red;
}
