/* ローダー */
#loader-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,.5);
    z-index: 1;
}
#loader {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
    color: #fff;
    z-index: 2;
}

label.btn span {
  font-size: 1.5em ;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
color: #7AA3CC;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
color: #7AA3CC;
}

div[data-toggle="buttons"] label.active{
    color: #7AA3CC;
}

div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: top;
cursor: pointer;
background-color: none;
border: 0px solid 
#c8c8c8;
border-radius: 3px;
color: #c8c8c8;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

div[data-toggle="buttons"] label:hover {
color: #7AA3CC;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}

.current {
  font-size:1.5em;
}

.meter::placeholder {
  color: #d9534f;
}
.meter:-ms-input-placeholder {
  color: #d9534f;
}
.meter::-ms-input-placeholder {
  color: #d9534f;
}

.titlebar {
  background-color: #ffb6c1;
}
.titlebar-text {
  font-weight: bold;
}
.titlebar-text-center {
  font-weight: bold;
  text-align: center;
}

.text-red {
  color: red;
}

.btn-default {
  background-color: #b3b3b3;
}

.simulation-logo {
  float: left;
}
.simulation-title {
  text-align: right;
  float: right;
  margin-top: 20px;
}
.simulation-title-h4 {
  font-weight: bold;
}
.simulation-title-h5 {
  font-weight: bold;
}
.simulation-text-h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.simulation-step {
  font-weight: bold;
}
.simulation-step-red {
  font-weight: normal;
  color: red;
}
.simulation-file-inline {
  margin-top: 10px;
}
.simulation-text-inline {
  margin-top: 2px;
}
.simulation-border-inline {
  border-bottom: 1px solid lightgray;
}
.simulation-border-row {
  border: 1px solid lightgray;
  border-bottom: 0px;
}
.simulation-border-col {
  border-right: 1px solid lightgray;
  background-color: #f5f5f5;
}

.btn-primary {
    background: #ff0033;
    color: #ffffff;
    border: none;
}
.btn-primary:hover, .btn-primary:focus, 
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
.btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary, 
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus, 
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
    background: #cc0033;
    color: #ffffff;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    background: #ff0033;
    color: #ffffff;
    opacity: 1.0;
}
